#username {
    text-align: right;
    font-weight: bold;
}
#gender {
    text-align: right;
    font-weight: bold;
}
#phone {
    text-align: right;
    font-weight: bold;
}
#address {
    text-align: right;
    font-weight: bold;
}
#jobtitle {
    text-align: right;
    font-weight: bold;
}
#email {
    text-align: right;
    font-weight: bold;
}
